{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<title>Profile</title>
{% endblock %}
{% block body %}
<div class="container text-center">
   <div class="page-header">
      <h2><b>Change Your Password</b></h2>
   </div>
   <br>
   <br>
   <div class="container">
      <form method="post">
         {% csrf_token %}
         <div id="div_id_old_password" class="control-group">
            <label for="id_old_password" class="control-label requiredField">
            <b>Old password</b><span class="asteriskField">*</span> </label> 
            <div class="controls"> <input type="password" placeholder="Old Password" name="old_password" autofocus="" class="textinput textInput" required="" id="id_old_password"> </div>
         </div>
         <br>
         <div id="div_id_new_password1" class="control-group">
            <label for="id_new_password1" class="control-label requiredField">
            <b>New password</b><span class="asteriskField">*</span> </label> 
            <div class="controls">
               <input type="password" name="new_password1" placeholder="New Password" class="textinput textInput" required="" id="id_new_password1"> 
            </div>
         </div>
         <br>
         <div id="div_id_new_password2" class="control-group">
            <label for="id_new_password2" class="control-label requiredField">
            <b>New password confirmation</b><span class="asteriskField">*</span> </label> 
            <div class="controls"> <input type="password" placeholder="Retype new Password" name="new_password2" class="textinput textInput" required="" id="id_new_password2"> </div>
         </div>
         <br>
         <br>
         <button type="submit" class="btn btn-info">Submit</button>
      </form>
   </div>
</div>
{% endblock %}