{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
	<title>Login</title>
	<SCRIPT type="text/javascript">
		function preventBack() { window.history.forward(); }
		setTimeout("preventBack()", 0);
		window.onunload = function () { null };
	</SCRIPT>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href={% static 'quizportal/images/icons/favicon.ico' %} />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/bootstrap/css/bootstrap.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href={% static 'quizportal/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href={% static 'quizportal/fonts/iconic/css/material-design-iconic-font.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/animate/animate.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/css-hamburgers/hamburgers.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/animsition/css/animsition.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/select2/select2.min.css' %}>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quizportal/vendor/daterangepicker/daterangepicker.css' %}>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'quizportal/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'quizportal/css/main.css' %}">
	<!--===============================================================================================-->
{% endblock %}
</head>

<body>
{% block body %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/quizportal/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form method="POST" action="">
					{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>
					<div class="container">
						 {{ form|crispy }}
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<!-- <b>
						<div class="text-center p-t-30">
							<a class="txt1" href="/register">
								Register
							</a>
						</div>
					</b>
 -->
					<b>
						<div class="text-center p-t-40" style="font-size: 15px;">
							Developer :- Abhinav Sharma
							<a href="https://www.facebook.com/abhinav.sharma.16906" class="fa fa-facebook"></a>
						</div>
					</b>
				</form>


			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/jquery/jquery-3.2.1.min.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/animsition/js/animsition.min.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/bootstrap/js/popper.js' %}></script>
	<script src={% static 'quizportal/vendor/bootstrap/js/bootstrap.min.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/select2/select2.min.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/daterangepicker/moment.min.js' %}></script>
	<script src={% static 'quizportal/vendor/daterangepicker/daterangepicker.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/vendor/countdowntime/countdowntime.js' %}></script>
	<!--===============================================================================================-->
	<script src={% static 'quizportal/js/main.js' %}></script>
{% endblock %}
